<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>注册页面</title>
    <link rel="stylesheet" href="">
</head>
<body>
<h1>注册</h1>
<form action="/register" method="post">
    <input type="text" name="username" placeholder="请输入用户名" required>
    <br>
    <input type="password" name="password" placeholder="请输入密码" required>
    <br>
    <textarea name="note" rows="3" cols="40" placeholder="请输入个性签名"></textarea>
    <br>
    <button type="submit">注册</button>
</form>
<h3>{{result}}</h3>
</body>
</html>